* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(images/RE4IIcD.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 0 5%;
}

header .text-box {
    width: 38%;
    color: white;
}

header .text-box h1 {
    font-size: 2.6rem;
    padding-bottom: 3rem;
    font-weight: 600;
}

header .text-box p {
    font-size: 1.2rem;
    font-weight: normal;
}

.features-section {
    width: 90%;
    min-height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.features-section .card-container {
    width: 30%;
    height: auto;
    text-align: center;
}

.card-container img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.features-section .card-container h3 {
    font-size: 20px;
    font-weight: 600;
    min-height: 15vh;
}

.features-section .card-container p {
    font-size: 15px;
    font-weight: 500;
}

.shopping-section {
    width: 90%;
    min-height: 90vh;
    margin: 8% auto;
}


.shopping-section > h1 {
    text-align: center;
    font-weight: 500;
    padding-bottom: 2rem;
    font-size: 2.3rem;
}
.shopping-section > p {
    text-align: center;
    padding-bottom: 2rem;
    color: rgba(0, 0, 0, 0.768);
    font-size: 20px;
}

.shopping-section .cards {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.shopping-section .card-container {
    width: 49%;
    height: auto;
    padding: 1rem 0;
}

.shopping-section .card-container h1 {
    font-weight: 500;
    font-size: 23px;
    padding-bottom: 1.6rem;
}


.privacy-section {
    width: 90%;
    margin: 10% auto;   
}

.privacy-section > h1 {
    text-align: center;
    font-weight: 500;
    padding-bottom: 1rem;
    font-size: 2.3rem;

}

.privacy-section > p {
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    padding-bottom: 3rem;
}

.privacy-section p a {
    text-decoration: none;
    position: relative;
    color: rgb(26, 79, 238);
    font-weight: 500;
}

.privacy-section p a::before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -5px;
    background-color: rgb(26, 79, 238);
    height: 2px;
    transition: .5s ease;
    opacity: 0;
}

.privacy-section p a:hover::before {
    opacity: 1;
}

.privacy-section .cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.privacy-section .cards .card-container {
    width: 32%;
}

.privacy-section .cards .card-container img {
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
}

.privacy-section .cards .card-container h3 {
    font-size: 20px;
    font-weight: 600;
    min-height: 6vh;
}

.privacy-section .cards .card-container:nth-child(1) h3 {
    position: relative;
}

.privacy-section .cards .card-container:nth-child(1) h3::before {
    position: absolute;
    content: "COMING SOON";
    background-color: #ffd800;
    color: #000;
    top: -2rem;
    left: 0;
    font-size: 14px;
    padding: 3px 10px;
}

.privacy-section .cards .card-container p {
    font-size: 15px;
    font-weight: 500;
}

.unsafe-browser-section {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.unsafe-browser-section img {
    width: 50%;
}

.unsafe-browser-section .text-container {
    padding: 0 2rem;
}

.unsafe-browser-section .text-container h1 {
    font-weight: 500;
    padding-bottom: 1rem;
}

.unsafe-browser-section .text-container p {
    font-size: 15px;
    padding-bottom: 1.2rem;
}

.unsafe-browser-section .links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.unsafe-browser-section .text-container .links > p {
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    padding-bottom: 3rem;
}

.unsafe-browser-section .text-container .links p a {
    text-decoration: none;
    position: relative;
    color: rgb(26, 79, 238);
    font-weight: 500;
}

.unsafe-browser-section .text-container .links p a::before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -5px;
    background-color: rgb(26, 79, 238);
    height: 2px;
    transition: .5s ease;
    opacity: 0;
}

.unsafe-browser-section .text-container .links p a:hover::before {
    opacity: 1;
}

.productivity-section {
    width: 90%;
    min-height: 90vh;
    margin: 8% auto;
}

.productivity-section > h1 {
    text-align: center;
    font-weight: 500;
    padding-bottom: 2rem;
    font-size: 2.3rem;
}

.productivity-section .cards {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.productivity-section .card-container {
    width: 49%;
    height: auto;
    padding: 1rem 0;
}

.productivity-section .card-container img {
    padding-bottom: 2rem;
}

.productivity-section .card-container h1 {
    font-weight: 500;
    font-size: 23px;
    padding-bottom: 1.2rem;
    position: relative;
}

.productivity-section .card-container h1::before {
    position: absolute;
    content: "COMING SOON";
    background-color: #ffd800;
    color: #000;
    top: -2rem;
    left: 0;
    font-size: 14px;
    padding: 3px 10px;
}

.extensions-section {
    width: 90%;
    min-height: 70vh;
    margin: 8% auto;
}

.extensions-section h1 {
    padding-bottom: 2rem;
    text-align: center;
    font-weight: 500;
    font-size: 2.3rem;
}

.extensions-section .box {
    width: 100%;
    min-height: 70vh;
    background-image: url(images/RE4GuF4.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5%;
}

.extensions-section .box .texts {
    padding: 0 5%;
    padding: 2rem;
    width: 316px;
    height: 336px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.extensions-section .box .texts h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

.extensions-section .box .texts p a {
    text-decoration: none;
    position: relative;
    color: rgb(26, 79, 238);
    font-weight: 500;
}

.extensions-section .box .texts p a::before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -5px;
    background-color: rgb(26, 79, 238);
    height: 2px;
    transition: .5s ease;
    opacity: 0;
}

.extensions-section .box .texts p a:hover::before {
    opacity: 1;
}

.small-info {
    padding: 1rem 5%;
    color: #fff;
    background-color: #333;
}

.small-info p {
    padding: 4px 0 4px;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
}